In [1]:
import os, sys
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')
import warnings
warnings.filterwarnings('ignore')

from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
cf.go_offline()
from pandas_profiling import ProfileReport

from sklearn.model_selection import train_test_split
from sklearn.utils.class_weight import compute_class_weight
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OneHotEncoder,StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping, ModelCheckpoint, LearningRateScheduler
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.feature_selection import RFE

from numpy import set_printoptions
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, KFold

from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB

# 3. Tiền xử lí dữ liệu

In [2]:
exps_dir = "../../exps"
if os.path.exists(exps_dir) == False: # tạo thư mục (nếu chưa có)
  os.makedirs(exps_dir, exist_ok=True)

save_dir = f"{exps_dir}/feature1"
os.makedirs(save_dir, exist_ok=True)
test_size=0.33
seed=42

In [3]:
test_size=0.33
seed=42
data=pd.read_excel(f'{exps_dir}/data/data_EDA.xlsx')
data

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,auto_make,auto_model,auto_year,fraud_reported,day_policy_bind_date,month_policy_bind_date,year_policy_bind_date,day_incident_date,month_incident_date,year_incident_date
0,Y,Middle,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,...,Saab,92x,2000-2010,Y,17,10,2014,25,1,2015
1,Y,Middle,IN,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,...,Mercedes,E400,2000-2010,Y,27,6,2006,21,1,2015
2,Y,Young,OH,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,...,Dodge,RAM,2000-2010,N,6,9,2000,22,2,2015
3,Y,Middle,IL,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,...,Chevrolet,Tahoe,2010++,Y,25,5,1990,10,1,2015
4,Y,Middle,IL,500/1000,1000,1583.91,6000000,MALE,Associate,sales,...,Accura,RSX,2000-2010,N,6,6,2014,17,2,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,N,Middle,OH,500/1000,1000,1310.80,0,FEMALE,Masters,craft-repair,...,Honda,Accord,2000-2010,N,16,7,1991,22,2,2015
996,Y,Middle,IL,100/300,1000,1436.79,0,FEMALE,PhD,prof-specialty,...,Volkswagen,Passat,2010++,N,5,1,2014,24,1,2015
997,Y,Middle,OH,250/500,500,1383.49,3000000,FEMALE,Masters,armed-forces,...,Suburu,Impreza,1995-2000,N,17,2,2003,23,1,2015
998,Y,Old,IL,500/1000,2000,1356.92,5000000,MALE,Associate,handlers-cleaners,...,Audi,A5,1995-2000,N,18,11,2011,26,2,2015
999,Y,Old,OH,250/500,1000,766.19,0,FEMALE,Associate,sales,...,Mercedes,E400,2000-2010,N,11,11,1996,26,2,2015

In [4]:
data_train, data_test = train_test_split(data, test_size = 0.33, random_state=seed)
print(data_train.shape,data_test.shape)
data_train.to_excel(f'{exps_dir}/data/datatrain.xlsx', index=None)
data_test.to_excel(f'{exps_dir}/data/datatest.xlsx', index=None)

(670, 40) (330, 40)

In [5]:
data_train

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,auto_make,auto_model,auto_year,fraud_reported,day_policy_bind_date,month_policy_bind_date,year_policy_bind_date,day_incident_date,month_incident_date,year_incident_date
703,Y,Middle,IL,250/500,1000,817.28,0,MALE,High School,sales,...,Mercedes,ML350,2010++,Y,21,6,1994,3,1,2015
311,N,Young,IN,100/300,2000,765.64,0,MALE,MD,sales,...,Honda,Accord,2000-2010,Y,11,6,2008,16,2,2015
722,Y,Middle,OH,100/300,2000,1422.21,0,FEMALE,Associate,handlers-cleaners,...,Suburu,Forrestor,2000-2010,Y,29,7,1996,16,1,2015
629,Y,Middle,IL,100/300,2000,1133.27,0,FEMALE,High School,craft-repair,...,Ford,F150,1995-2000,Y,28,5,2014,1,3,2015
0,Y,Middle,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,...,Saab,92x,2000-2010,Y,17,10,2014,25,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Y,Old,OH,500/1000,1000,1125.37,0,FEMALE,Associate,prof-specialty,...,Saab,95,1995-2000,Y,7,10,1990,13,1,2015
270,Y,Old,OH,250/500,2000,1589.54,0,MALE,College,handlers-cleaners,...,Toyota,Highlander,2000-2010,N,15,4,2013,27,1,2015
860,Y,Middle,IN,100/300,1000,1023.11,0,FEMALE,MD,adm-clerical,...,Accura,MDX,1995-2000,N,16,11,2004,6,2,2015
435,N,Young,OH,250/500,500,1075.41,0,MALE,MD,machine-op-inspct,...,Dodge,Neon,1995-2000,N,29,8,1999,15,2,2015
102,Y,Middle,IL,250/500,500,1497.35,0,FEMALE,JD,prof-specialty,...,Ford,Fusion,2010++,N,6,6,2001,29,1,2015

In [6]:
numeric_columns=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['numeric_columns']
numeric_columns

array(['policy_annual_premium', 'capital-gains', 'capital-loss',
       'total_claim_amount', 'injury_claim', 'property_claim',
       'vehicle_claim', 'day_policy_bind_date', 'month_policy_bind_date',
       'year_policy_bind_date', 'day_incident_date',
       'month_incident_date', 'year_incident_date'], dtype='<U22')

In [7]:
category_columns=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['category_columns']
category_columns

array(['months_as_customer', 'age', 'policy_state', 'policy_csl',
       'policy_deductable', 'umbrella_limit', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage',
       'bodily_injuries', 'witnesses', 'police_report_available',
       'auto_make', 'auto_model', 'auto_year', 'fraud_reported'],
      dtype='<U27')

In [8]:
outliers_list=dict(np.load(f'{exps_dir}/data/outliers.npz'))['outliers']
def remove_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return data[(data[column] >= lower_bound) & (data[column] <= upper_bound)]

# Áp dụng hàm cho các cột chứa dữ liệu cần loại bỏ ngoại lệ
for column in outliers_list:
    data_train = remove_outliers_iqr(data_train, column)
data_train

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,auto_make,auto_model,auto_year,fraud_reported,day_policy_bind_date,month_policy_bind_date,year_policy_bind_date,day_incident_date,month_incident_date,year_incident_date
703,Y,Middle,IL,250/500,1000,817.28,0,MALE,High School,sales,...,Mercedes,ML350,2010++,Y,21,6,1994,3,1,2015
311,N,Young,IN,100/300,2000,765.64,0,MALE,MD,sales,...,Honda,Accord,2000-2010,Y,11,6,2008,16,2,2015
722,Y,Middle,OH,100/300,2000,1422.21,0,FEMALE,Associate,handlers-cleaners,...,Suburu,Forrestor,2000-2010,Y,29,7,1996,16,1,2015
629,Y,Middle,IL,100/300,2000,1133.27,0,FEMALE,High School,craft-repair,...,Ford,F150,1995-2000,Y,28,5,2014,1,3,2015
0,Y,Middle,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,...,Saab,92x,2000-2010,Y,17,10,2014,25,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Y,Old,OH,500/1000,1000,1125.37,0,FEMALE,Associate,prof-specialty,...,Saab,95,1995-2000,Y,7,10,1990,13,1,2015
270,Y,Old,OH,250/500,2000,1589.54,0,MALE,College,handlers-cleaners,...,Toyota,Highlander,2000-2010,N,15,4,2013,27,1,2015
860,Y,Middle,IN,100/300,1000,1023.11,0,FEMALE,MD,adm-clerical,...,Accura,MDX,1995-2000,N,16,11,2004,6,2,2015
435,N,Young,OH,250/500,500,1075.41,0,MALE,MD,machine-op-inspct,...,Dodge,Neon,1995-2000,N,29,8,1999,15,2,2015
102,Y,Middle,IL,250/500,500,1497.35,0,FEMALE,JD,prof-specialty,...,Ford,Fusion,2010++,N,6,6,2001,29,1,2015

In [9]:
(data_train=='?').sum()

months_as_customer               0
age                              0
policy_state                     0
policy_csl                       0
policy_deductable                0
policy_annual_premium            0
umbrella_limit                   0
insured_sex                      0
insured_education_level          0
insured_occupation               0
insured_hobbies                  0
insured_relationship             0
capital-gains                    0
capital-loss                     0
incident_type                    0
collision_type                 112
incident_severity                0
authorities_contacted            0
incident_state                   0
incident_city                    0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                235
bodily_injuries                  0
witnesses                        0
police_report_available        207
total_claim_amount               0
injury_claim                     0
property_claim                   0
vehicle_claim                    0
auto_make                        0
auto_model                       0
auto_year                        0
fraud_reported                   0
day_policy_bind_date             0
month_policy_bind_date           0
year_policy_bind_date            0
day_incident_date                0
month_incident_date              0
year_incident_date               0
dtype: int64

In [10]:
data_train['collision_type']=data_train['collision_type'].replace('?',np.nan)
data_train['collision_type'].fillna(method='ffill',inplace=True)
data_train[['property_damage','police_report_available']]=data_train[['property_damage','police_report_available']].replace('?','Unknow')
(data_train=='?').sum()

months_as_customer             0
age                            0
policy_state                   0
policy_csl                     0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_sex                    0
insured_education_level        0
insured_occupation             0
insured_hobbies                0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_state                 0
incident_city                  0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
auto_make                      0
auto_model                     0
auto_year                      0
fraud_reported                 0
day_policy_bind_date           0
month_policy_bind_date         0
year_policy_bind_date          0
day_incident_date              0
month_incident_date            0
year_incident_date             0
dtype: int64

# 4.Chuẩn hóa dữ liệu

In [11]:
label_encoders = {}
for column in category_columns:
    label_encoder = LabelEncoder()
    data_train[column] = label_encoder.fit_transform(data_train[column])
    label_encoders[column] = label_encoder  # Lưu trữ label encoder nếu cần sau này

scaler = MinMaxScaler()
data_train[numeric_columns] = scaler.fit_transform(data_train[numeric_columns])
data_train

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,auto_make,auto_model,auto_year,fraud_reported,day_policy_bind_date,month_policy_bind_date,year_policy_bind_date,day_incident_date,month_incident_date,year_incident_date
703,2,0,0,1,1,0.156407,0,1,2,11,...,8,24,2,1,0.666667,0.454545,0.166667,0.066667,0.0,0.0
311,0,2,1,0,2,0.116057,0,1,4,11,...,6,6,1,1,0.333333,0.454545,0.750000,0.500000,0.5,0.0
722,2,0,2,0,2,0.629083,0,0,0,5,...,11,15,1,1,0.933333,0.545455,0.250000,0.500000,0.0,0.0
629,2,0,0,0,2,0.403313,0,0,2,2,...,5,14,0,1,0.900000,0.363636,1.000000,0.000000,1.0,0.0
0,2,0,2,1,1,0.617128,0,1,4,2,...,10,1,1,1,0.533333,0.818182,1.000000,0.800000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,2,1,2,2,1,0.397140,0,0,0,9,...,10,3,0,1,0.200000,0.818182,0.000000,0.400000,0.0,0.0
270,2,1,2,1,2,0.759830,0,1,1,5,...,12,18,1,0,0.466667,0.272727,0.958333,0.866667,0.0,0.0
860,2,0,1,0,1,0.317237,0,0,4,0,...,0,23,0,0,0.500000,0.909091,0.583333,0.166667,0.5,0.0
435,0,2,2,1,0,0.358103,0,1,4,6,...,4,27,0,0,0.933333,0.636364,0.375000,0.466667,0.5,0.0
102,2,0,0,1,0,0.687795,0,0,3,9,...,5,16,2,0,0.166667,0.454545,0.458333,0.933333,0.0,0.0

In [12]:
x_train=data_train.drop('fraud_reported',axis=1)
y_train=data_train['fraud_reported']
x_train.to_excel(f'{save_dir}/x_train.xlsx', index=False)
y_train.to_excel(f'{save_dir}/y_train.xlsx', index=False)

In [13]:
class_weights = compute_class_weight(class_weight='balanced', classes=np.unique(y_train), y=y_train)
class_weights_dict = {i : class_weights[i] for i in range(len(class_weights))}
np.savez(f'{save_dir}/class_weights_dict.npz', class_weights_dict = class_weights_dict)
class_weights_dict

{0: 0.654690618762475, 1: 2.1161290322580646}

In [14]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)
print(f"+ X_train: {len(x_train)}")
for fold, (train_idx, valid_idx) in enumerate(kfold.split(x_train, y_train)):
    print(f'Fold {fold}: ')
    print(f'+ train_idx: {train_idx}')
    print(f'+ valid_idx: {valid_idx}')
    print(f'+ train / valid: {valid_idx}')
    pass

+ X_train: 656
Fold 0:
+ train_idx: [  0   1   3   4   5   7   8   9  11  12  13  14  15  16  17  19  20  21
  22  23  25  26  27  28  29  32  33  34  35  36  37  38  40  42  43  45
  46  47  48  50  51  52  53  57  58  59  61  62  64  66  67  68  71  73
  74  75  79  80  83  84  85  87  88  89  91  92  93  94  95  96  97  98
  99 100 102 103 104 105 106 107 111 112 113 114 115 116 117 119 121 122
 123 124 125 126 127 128 129 130 134 136 137 138 139 140 141 142 143 144
 145 146 147 149 150 151 152 153 154 156 157 159 160 161 162 164 166 167
 168 169 170 171 172 173 175 176 177 178 179 180 183 184 185 186 187 188
 189 190 191 193 194 195 196 197 198 200 201 202 203 204 205 206 207 208
 209 214 216 217 219 220 222 223 224 225 226 227 228 229 230 231 232 233
 235 236 237 238 239 240 241 242 243 244 245 246 247 249 251 252 253 254
 255 257 258 259 261 262 263 266 267 268 269 270 272 273 276 277 279 280
 281 282 283 285 287 288 291 292 293 294 295 297 298 299 301 302 303 304
 306 307 308 309 310 312 313 314 315 316 317 318 321 322 323 324 325 326
 329 330 331 332 333 334 335 336 337 338 339 340 342 343 344 345 346 347
 348 349 351 352 353 354 356 357 358 359 361 362 363 364 365 366 367 368
 369 370 371 372 373 375 376 377 378 379 380 381 382 383 384 385 386 387
 388 389 390 391 392 393 394 395 397 398 399 400 401 402 403 404 405 406
 407 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425
 426 427 433 434 435 436 437 438 439 440 441 443 444 445 446 448 449 452
 453 454 455 456 458 459 460 461 462 463 464 465 466 467 468 469 470 471
 472 474 475 476 477 478 479 480 481 482 484 485 486 488 489 490 491 492
 493 494 495 496 497 498 499 500 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 524 525 527 529 530 531 532
 533 534 535 536 538 540 541 542 543 544 545 546 548 549 550 551 552 553
 554 555 557 560 561 562 563 564 565 566 567 569 570 571 573 574 576 578
 579 580 581 582 583 584 585 588 589 590 591 592 593 594 595 596 597 598
 599 600 603 604 605 607 610 612 614 615 616 617 618 620 621 622 623 624
 626 627 628 629 630 632 633 634 635 636 638 640 641 645 646 648 649 650
 653 655]
+ valid_idx: [  2   6  10  18  24  30  31  39  41  44  49  54  55  56  60  63  65  69
  70  72  76  77  78  81  82  86  90 101 108 109 110 118 120 131 132 133
 135 148 155 158 163 165 174 181 182 192 199 210 211 212 213 215 218 221
 234 248 250 256 260 264 265 271 274 275 278 284 286 289 290 296 300 305
 311 319 320 327 328 341 350 355 360 374 396 408 428 429 430 431 432 442
 447 450 451 457 473 483 487 501 523 526 528 537 539 547 556 558 559 568
 572 575 577 586 587 601 602 606 608 609 611 613 619 625 631 637 639 642
 643 644 647 651 652 654]
+ train / valid: [  2   6  10  18  24  30  31  39  41  44  49  54  55  56  60  63  65  69
  70  72  76  77  78  81  82  86  90 101 108 109 110 118 120 131 132 133
 135 148 155 158 163 165 174 181 182 192 199 210 211 212 213 215 218 221
 234 248 250 256 260 264 265 271 274 275 278 284 286 289 290 296 300 305
 311 319 320 327 328 341 350 355 360 374 396 408 428 429 430 431 432 442
 447 450 451 457 473 483 487 501 523 526 528 537 539 547 556 558 559 568
 572 575 577 586 587 601 602 606 608 609 611 613 619 625 631 637 639 642
 643 644 647 651 652 654]
Fold 1:
+ train_idx: [  1   2   3   4   5   6   8  10  12  13  14  16  17  18  19  20  21  24
  25  26  27  30  31  32  34  35  36  37  38  39  40  41  44  45  46  47
  48  49  50  51  52  53  54  55  56  57  58  59  60  62  63  64  65  67
  69  70  71  72  74  76  77  78  80  81  82  85  86  87  90  91  94  95
  96  97  98  99 100 101 102 103 105 106 107 108 109 110 111 112 113 115
 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
 136 138 139 141 142 143 146 147 148 149 150 151 152 154 155 156 157 158
 159 160 161 162 163 164 165 166 168 169 170 171 172 173 174 175 179 180
 181 182 183 185 186 187 189 190 191 192 193 194 195 197 198 199 200 201
 202 205 206 207 210 211 212 213 214 215 216 217 218 219 221 222 223 224
 225 226 229 230 232 233 234 237 239 240 241 242 243 245 246 248 250 251
 252 253 254 255 256 258 260 261 262 263 264 265 266 267 269 270 271 272
 273 274 275 276 278 279 280 282 283 284 285 286 287 288 289 290 293 294
 295 296 297 298 300 301 302 303 305 306 307 308 309 311 312 313 314 315
 316 317 319 320 322 323 324 325 327 328 330 333 336 337 339 341 342 343
 345 347 348 349 350 351 355 357 358 359 360 361 364 365 366 368 369 370
 371 372 373 374 376 378 379 382 383 384 385 386 387 388 389 391 392 394
 396 397 398 399 400 401 402 404 406 407 408 410 411 412 413 414 415 416
 417 418 419 420 423 424 425 426 427 428 429 430 431 432 433 434 435 436
 437 438 439 440 441 442 443 445 446 447 448 450 451 453 454 455 456 457
 458 459 460 461 462 464 465 466 467 468 471 472 473 474 475 476 477 478
 479 480 481 483 484 485 486 487 489 491 492 493 494 495 496 497 498 499
 500 501 502 503 504 505 507 508 509 510 513 514 515 517 518 519 520 521
 522 523 524 525 526 528 529 531 533 534 535 536 537 538 539 541 542 543
 544 545 546 547 548 549 550 552 553 554 555 556 557 558 559 560 561 562
 564 565 566 567 568 571 572 573 575 576 577 578 579 580 581 582 583 584
 586 587 588 589 590 591 592 594 595 597 599 600 601 602 603 604 605 606
 607 608 609 611 612 613 614 616 617 618 619 620 621 622 625 627 628 629
 631 632 633 634 635 637 638 639 640 642 643 644 645 646 647 650 651 652
 653 654 655]
+ valid_idx: [  0   7   9  11  15  22  23  28  29  33  42  43  61  66  68  73  75  79
  83  84  88  89  92  93 104 114 116 117 137 140 144 145 153 167 176 177
 178 184 188 196 203 204 208 209 220 227 228 231 235 236 238 244 247 249
 257 259 268 277 281 291 292 299 304 310 318 321 326 329 331 332 334 335
 338 340 344 346 352 353 354 356 362 363 367 375 377 380 381 390 393 395
 403 405 409 421 422 444 449 452 463 469 470 482 488 490 506 511 512 516
 527 530 532 540 551 563 569 570 574 585 593 596 598 610 615 623 624 626
 630 636 641 648 649]
+ train / valid: [  0   7   9  11  15  22  23  28  29  33  42  43  61  66  68  73  75  79
  83  84  88  89  92  93 104 114 116 117 137 140 144 145 153 167 176 177
 178 184 188 196 203 204 208 209 220 227 228 231 235 236 238 244 247 249
 257 259 268 277 281 291 292 299 304 310 318 321 326 329 331 332 334 335
 338 340 344 346 352 353 354 356 362 363 367 375 377 380 381 390 393 395
 403 405 409 421 422 444 449 452 463 469 470 482 488 490 506 511 512 516
 527 530 532 540 551 563 569 570 574 585 593 596 598 610 615 623 624 626
 630 636 641 648 649]
Fold 2:
+ train_idx: [  0   1   2   4   6   7   8   9  10  11  13  14  15  18  20  21  22  23
  24  27  28  29  30  31  32  33  34  35  36  38  39  40  41  42  43  44
  47  49  51  52  53  54  55  56  58  59  60  61  62  63  64  65  66  68
  69  70  71  72  73  75  76  77  78  79  80  81  82  83  84  85  86  87
  88  89  90  91  92  93  95  96  97  98  99 100 101 102 104 105 106 108
 109 110 111 112 114 116 117 118 120 121 122 123 125 127 128 129 130 131
 132 133 134 135 136 137 138 139 140 143 144 145 146 147 148 150 151 153
 155 156 158 159 160 161 163 164 165 166 167 170 171 174 176 177 178 179
 181 182 183 184 186 187 188 189 191 192 196 197 198 199 200 201 202 203
 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221
 223 224 227 228 230 231 232 233 234 235 236 238 239 240 241 242 243 244
 246 247 248 249 250 251 252 253 254 256 257 258 259 260 262 264 265 266
 267 268 269 270 271 273 274 275 276 277 278 279 281 282 284 286 288 289
 290 291 292 293 294 295 296 297 299 300 303 304 305 306 307 308 310 311
 313 314 315 317 318 319 320 321 323 324 325 326 327 328 329 330 331 332
 334 335 337 338 339 340 341 342 343 344 345 346 347 348 350 351 352 353
 354 355 356 358 359 360 362 363 366 367 368 371 372 373 374 375 376 377
 378 379 380 381 384 385 386 387 389 390 391 392 393 394 395 396 397 400
 401 402 403 405 406 407 408 409 410 413 414 415 416 417 418 419 421 422
 423 427 428 429 430 431 432 433 434 435 437 438 439 441 442 444 446 447
 449 450 451 452 454 455 457 458 459 460 461 462 463 464 465 466 469 470
 471 472 473 474 475 476 478 479 481 482 483 484 486 487 488 489 490 491
 492 494 496 497 498 499 501 502 503 504 505 506 507 508 509 510 511 512
 514 516 517 518 520 521 523 524 526 527 528 529 530 532 533 535 536 537
 538 539 540 544 546 547 548 549 550 551 553 555 556 557 558 559 560 561
 562 563 564 565 566 567 568 569 570 571 572 573 574 575 577 578 579 581
 582 583 585 586 587 588 590 593 594 596 597 598 600 601 602 605 606 607
 608 609 610 611 612 613 614 615 616 617 618 619 620 622 623 624 625 626
 630 631 635 636 637 638 639 640 641 642 643 644 645 647 648 649 650 651
 652 653 654]
+ valid_idx: [  3   5  12  16  17  19  25  26  37  45  46  48  50  57  67  74  94 103
 107 113 115 119 124 126 141 142 149 152 154 157 162 168 169 172 173 175
 180 185 190 193 194 195 222 225 226 229 237 245 255 261 263 272 280 283
 285 287 298 301 302 309 312 316 322 333 336 349 357 361 364 365 369 370
 382 383 388 398 399 404 411 412 420 424 425 426 436 440 443 445 448 453
 456 467 468 477 480 485 493 495 500 513 515 519 522 525 531 534 541 542
 543 545 552 554 576 580 584 589 591 592 595 599 603 604 621 627 628 629
 632 633 634 646 655]
+ train / valid: [  3   5  12  16  17  19  25  26  37  45  46  48  50  57  67  74  94 103
 107 113 115 119 124 126 141 142 149 152 154 157 162 168 169 172 173 175
 180 185 190 193 194 195 222 225 226 229 237 245 255 261 263 272 280 283
 285 287 298 301 302 309 312 316 322 333 336 349 357 361 364 365 369 370
 382 383 388 398 399 404 411 412 420 424 425 426 436 440 443 445 448 453
 456 467 468 477 480 485 493 495 500 513 515 519 522 525 531 534 541 542
 543 545 552 554 576 580 584 589 591 592 595 599 603 604 621 627 628 629
 632 633 634 646 655]
Fold 3:
+ train_idx: [  0   1   2   3   4   5   6   7   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  37
  39  40  41  42  43  44  45  46  47  48  49  50  52  54  55  56  57  58
  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77
  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95
  98  99 101 102 103 104 105 106 107 108 109 110 113 114 115 116 117 118
 119 120 121 124 126 128 130 131 132 133 134 135 137 138 140 141 142 144
 145 148 149 152 153 154 155 156 157 158 159 160 161 162 163 165 166 167
 168 169 170 172 173 174 175 176 177 178 180 181 182 184 185 187 188 189
 190 191 192 193 194 195 196 199 200 201 203 204 205 206 208 209 210 211
 212 213 214 215 216 217 218 220 221 222 225 226 227 228 229 230 231 234
 235 236 237 238 240 241 242 243 244 245 247 248 249 250 251 252 255 256
 257 259 260 261 263 264 265 268 269 270 271 272 273 274 275 276 277 278
 280 281 283 284 285 286 287 288 289 290 291 292 295 296 298 299 300 301
 302 304 305 308 309 310 311 312 313 315 316 318 319 320 321 322 326 327
 328 329 330 331 332 333 334 335 336 337 338 339 340 341 343 344 345 346
 349 350 352 353 354 355 356 357 360 361 362 363 364 365 366 367 369 370
 372 374 375 377 378 379 380 381 382 383 385 387 388 389 390 391 392 393
 395 396 397 398 399 401 403 404 405 406 408 409 411 412 413 418 420 421
 422 424 425 426 427 428 429 430 431 432 435 436 440 442 443 444 445 447
 448 449 450 451 452 453 454 455 456 457 458 459 460 461 463 466 467 468
 469 470 471 473 474 475 476 477 480 482 483 484 485 487 488 489 490 491
 492 493 495 498 500 501 502 504 506 508 510 511 512 513 515 516 519 520
 522 523 524 525 526 527 528 530 531 532 534 537 539 540 541 542 543 545
 546 547 549 550 551 552 554 555 556 557 558 559 560 561 562 563 564 565
 566 568 569 570 571 572 573 574 575 576 577 580 582 584 585 586 587 588
 589 591 592 593 595 596 598 599 600 601 602 603 604 605 606 608 609 610
 611 612 613 614 615 616 619 621 623 624 625 626 627 628 629 630 631 632
 633 634 636 637 638 639 640 641 642 643 644 646 647 648 649 650 651 652
 653 654 655]
+ valid_idx: [  8  36  38  51  53  59  96  97 100 111 112 122 123 125 127 129 136 139
 143 146 147 150 151 164 171 179 183 186 197 198 202 207 219 223 224 232
 233 239 246 253 254 258 262 266 267 279 282 293 294 297 303 306 307 314
 317 323 324 325 342 347 348 351 358 359 368 371 373 376 384 386 394 400
 402 407 410 414 415 416 417 419 423 433 434 437 438 439 441 446 462 464
 465 472 478 479 481 486 494 496 497 499 503 505 507 509 514 517 518 521
 529 533 535 536 538 544 548 553 567 578 579 581 583 590 594 597 607 617
 618 620 622 635 645]
+ train / valid: [  8  36  38  51  53  59  96  97 100 111 112 122 123 125 127 129 136 139
 143 146 147 150 151 164 171 179 183 186 197 198 202 207 219 223 224 232
 233 239 246 253 254 258 262 266 267 279 282 293 294 297 303 306 307 314
 317 323 324 325 342 347 348 351 358 359 368 371 373 376 384 386 394 400
 402 407 410 414 415 416 417 419 423 433 434 437 438 439 441 446 462 464
 465 472 478 479 481 486 494 496 497 499 503 505 507 509 514 517 518 521
 529 533 535 536 538 544 548 553 567 578 579 581 583 590 594 597 607 617
 618 620 622 635 645]
Fold 4:
+ train_idx: [  0   2   3   5   6   7   8   9  10  11  12  15  16  17  18  19  22  23
  24  25  26  28  29  30  31  33  36  37  38  39  41  42  43  44  45  46
  48  49  50  51  53  54  55  56  57  59  60  61  63  65  66  67  68  69
  70  72  73  74  75  76  77  78  79  81  82  83  84  86  88  89  90  92
  93  94  96  97 100 101 103 104 107 108 109 110 111 112 113 114 115 116
 117 118 119 120 122 123 124 125 126 127 129 131 132 133 135 136 137 139
 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 157 158
 162 163 164 165 167 168 169 171 172 173 174 175 176 177 178 179 180 181
 182 183 184 185 186 188 190 192 193 194 195 196 197 198 199 202 203 204
 207 208 209 210 211 212 213 215 218 219 220 221 222 223 224 225 226 227
 228 229 231 232 233 234 235 236 237 238 239 244 245 246 247 248 249 250
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 271 272
 274 275 277 278 279 280 281 282 283 284 285 286 287 289 290 291 292 293
 294 296 297 298 299 300 301 302 303 304 305 306 307 309 310 311 312 314
 316 317 318 319 320 321 322 323 324 325 326 327 328 329 331 332 333 334
 335 336 338 340 341 342 344 346 347 348 349 350 351 352 353 354 355 356
 357 358 359 360 361 362 363 364 365 367 368 369 370 371 373 374 375 376
 377 380 381 382 383 384 386 388 390 393 394 395 396 398 399 400 402 403
 404 405 407 408 409 410 411 412 414 415 416 417 419 420 421 422 423 424
 425 426 428 429 430 431 432 433 434 436 437 438 439 440 441 442 443 444
 445 446 447 448 449 450 451 452 453 456 457 462 463 464 465 467 468 469
 470 472 473 477 478 479 480 481 482 483 485 486 487 488 490 493 494 495
 496 497 499 500 501 503 505 506 507 509 511 512 513 514 515 516 517 518
 519 521 522 523 525 526 527 528 529 530 531 532 533 534 535 536 537 538
 539 540 541 542 543 544 545 547 548 551 552 553 554 556 558 559 563 567
 568 569 570 572 574 575 576 577 578 579 580 581 583 584 585 586 587 589
 590 591 592 593 594 595 596 597 598 599 601 602 603 604 606 607 608 609
 610 611 613 615 617 618 619 620 621 622 623 624 625 626 627 628 629 630
 631 632 633 634 635 636 637 639 641 642 643 644 645 646 647 648 649 651
 652 654 655]
+ valid_idx: [  1   4  13  14  20  21  27  32  34  35  40  47  52  58  62  64  71  80
  85  87  91  95  98  99 102 105 106 121 128 130 134 138 156 159 160 161
 166 170 187 189 191 200 201 205 206 214 216 217 230 240 241 242 243 251
 252 269 270 273 276 288 295 308 313 315 330 337 339 343 345 366 372 378
 379 385 387 389 391 392 397 401 406 413 418 427 435 454 455 458 459 460
 461 466 471 474 475 476 484 489 491 492 498 502 504 508 510 520 524 546
 549 550 555 557 560 561 562 564 565 566 571 573 582 588 600 605 612 614
 616 638 640 650 653]
+ train / valid: [  1   4  13  14  20  21  27  32  34  35  40  47  52  58  62  64  71  80
  85  87  91  95  98  99 102 105 106 121 128 130 134 138 156 159 160 161
 166 170 187 189 191 200 201 205 206 214 216 217 230 240 241 242 243 251
 252 269 270 273 276 288 295 308 313 315 330 337 339 343 345 366 372 378
 379 385 387 389 391 392 397 401 406 413 418 427 435 454 455 458 459 460
 461 466 471 474 475 476 484 489 491 492 498 502 504 508 510 520 524 546
 549 550 555 557 560 561 562 564 565 566 571 573 582 588 600 605 612 614
 616 638 640 650 653]

In [15]:
object_cols_test=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['category_columns']
numeric_cols_test=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['numeric_columns']
for column in outliers_list:
    data_test = remove_outliers_iqr(data_test, column)
data_test['collision_type'].replace('?',np.nan,inplace=True)
data_test['collision_type'].fillna(method='ffill',inplace=True)
data_test[['property_damage','police_report_available']].replace('?','Unknow',inplace=True)
(data_test=='?').sum()
label_encoders = {}
for column in object_cols_test:
    label_encoder = LabelEncoder()
    data_test[column] = label_encoder.fit_transform(data_test[column])
    label_encoders[column] = label_encoder  # Lưu trữ label encoder nếu cần sau này

scaler = MinMaxScaler()
data_test[numeric_cols_test] = scaler.fit_transform(data_test[numeric_cols_test])

x_test=data_test.drop('fraud_reported',axis=1)
y_test=data_test['fraud_reported']
data_test.to_excel(f'{save_dir}/df_test_minmax.xlsx', index=False)
x_test.to_excel(f'{save_dir}/x_test.xlsx', index=False)
y_test.to_excel(f'{save_dir}/y_test.xlsx', index=False)